/* Some base CSS customizations I've found useful -- feel free to remove them if you don't need them */
a {
	text-decoration: none;
	color: #790 !important;
}
a:hover {
	text-decoration: underline;
}
#title h1 {
	top: 20%;
	font-size: 2.5em;
	margin-top: 20%;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	color: #ae0
}
#title h2 {
	width: 100%;
	text-align: center;
	color: #099;
	border: 0;
	margin-top: 40%;
	background-color: transparent;
}
#title h3 {
	width: 100%;
	text-align: center;
	border: 0;
}
.deck-container h2 {
	border-bottom: 0;
	font-size: 2em;
}
.deck-container img.inline {
	display: inline;
}
.slide {
	font-size: 120% !important;
	padding: 0;
}
.slide section.slide-body {
	padding: 0 48px;
}
.slide h2 {
	width: 100%;
	text-align: center;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	border-bottom: 4px solid #ae0;
	color: #099;
	background-color: #222;
}
.slide h3 {
	border-bottom: 2px solid #666;
	color: #fb7;
}
.slide dt {
	margin-top: 20px;
	font-weight: bold;
}
.slide footer {
	text-align: center;
	font-size: 1.5em;
	color: #666;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
}

.slide section.middle {
	font-size: 2.5em;
	text-align: center;
	margin-top: 20%;
}

.slide section.middle-small {
	font-size: 1.5em;
	text-align: center;
	margin-top: 10%;
}

.slide section.middle.last {
	margin-top: 0;
}

body {
	background-color: #222;
}

.boxshadow .download:hover, .boxshadow .download:focus, .boxshadow .vim:hover, .boxshadow .vim:focus, .boxshadow .cta:hover, .boxshadow .cta:focus {
	position: relative;
	top: 1px;
	left: 1px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.no-boxshadow .download:hover, .no-boxshadow .download:focus, .no-boxshadow .cta:hover, .no-boxshadow .cta:focus {
	background: #83b5b5;
}

.vim {
	background: #070;
	color: #fff;
	padding: 2px 4px !important;
	margin: 0 4px !important;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.deck-child-current .slide.deck-before {
	opacity: 0.5;
}

.deck-child-current .slide.deck-previous {
	opacity: 0.7;
}

.download, .vim, .cta {
	text-decoration: none;
	font-weight: bold;
}
.borderradius .download, .borderradius .vim, .borderradius .cta {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.boxshadow .download, .boxshadow .vim, .boxshadow .cta {
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

body > footer.legend {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	z-index: 4;
}

body > footer.legend > p {
  float: right;
  margin-right: 10px;
  padding: 0 4px;
  background: #fff;
}

span.key {
	font-weight: bold;
	color: #f70;
}
